<!-- Data block -->
<article class="span6 data-block">
	<div class="data-container">
		<header>
			<h2><span class="awe-heart"></span> Quick Commands</h2>
		</header>
		<section>
			<div class="row-fluid">
				<a href="javascript:;" class="btn btn-danger"><span class="awe-off"></span> Stop scripts</a>
				<a href="javascript:;" class="btn btn-primary"><span class="awe-magic"></span> Get Proxy</a>
				<a href="javascript:;" class="btn btn-info"><span class="awe-refresh"></span> Recheck Proxy</a>
			</div>
		</section>
	</div>
</article>
<!-- /Data block -->