<!-- Data block -->
<article class="span6 data-block">
	<div class="data-container">
		<header>
			<h2><span class="awe-signal"></span> Server Info	</h2>
		</header>
		<section>
			<div class="row-fluid">
				<table class="table table-striped">
					<tr>
						<th>Platform - arch</th>
						<td>{{serverStatus.platform}} - {{serverStatus.arch}}</td>
					</tr>
					<tr>
						<th>Nodejs Version</th>
						<td>{{serverStatus.version}}</td>
					</tr>
					<tr>
						<th>Uptime</th>
						<td>{{serverStatus.uptime}}</td>
					</tr>
					<tr>
						<th>Server Time</th>
						<td>{{serverStatus.servertime}}</td>
					</tr>
					<tr>
						<th>Total users</th>
						<td>{{serverStatus.totalUsers}}</td>
					</tr>
					<tr>
						<th>Total proxies</th>
						<td>{{serverStatus.totalProxies}}</td>
					</tr>
				</table>
			</div>
		</section>
		<footer class="info"><p>Đơn vị tính thời gian: nanosecond (-.-!)</p></footer>
	</div>
</article>
<!-- /Data block -->