<div ng-show="authenticated">
	<ng-include src="'header.html'"></ng-include>
	<section class="container" id="main">
		<ng-include src="'sidebar.html'"></ng-include>
		<div class="content-block" role="main">
			<!-- Page header -->
			<article class="page-header">
				<h1>Add new site</h1>
			</article>
			<!-- /Page header -->
			
			<div class="row">
				<!-- Data block -->
				<article class="span12 data-block">
					<div class="data-container">
						<section>
							<div class="row-fluid">
								<div class="span12">
									<form class="form-horizontal" ng-submit="create()">
										<fieldset>
											<div class="control-group">
												<label class="control-label" for="name" required>Name</label>
												<div class="controls">
													<input id="name" class="input-xlarge" type="text" ng-model="site.name">
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="url" required>Url</label>
												<div class="controls">
													<input id="url" class="input-xlarge" type="text" ng-model="site.url">
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="pageParam" required>Page Param</label>
												<div class="controls">
													<input id="pageParam" class="input-xlarge" type="text" ng-model="site.pageParam">
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="maxPage" required>Max Page</label>
												<div class="controls">
													<input id="maxPage" class="input-xlarge" type="text" ng-model="site.maxPage">
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="pageSuffix" required>Page Suffix</label>
												<div class="controls">
													<input id="pageSuffix" class="input-xlarge" type="text" ng-model="site.pageSuffix">
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="useProxy">Use Proxy</label>
												<div class="controls">
													<input id="useProxy" class="input-xlarge" type="checkbox" ng-model="site.useProxy">
												</div>
											</div>
											<div class="form-actions">
												<input class="btn btn-alt btn-large btn-danger" type="submit" value="Save Site"/>
											</div>
										</fieldset>
									</form>
								</div>
							</div>
						</section>
						<!-- <footer class="info">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam blandit, dolor mollis adipiscing elementum, ipsum turpis euismod tellus, vitae mollis velit leo id nisi.</p>
						</footer> -->
					</div>
				</article>
				<!-- /Data block -->
			</div>
		</div>
	</section>
</div>